@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

/* html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
} */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  display: block;
  margin: auto;
  max-width: 1920px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*record selected backgroud*/
#table_treatment * .ant-table-row.ant-table-row-level-0.selected-row {
  background-color: #89caf0;
}

#table_treatment * .ant-table-row.ant-table-row-level-0.selected-row:hover,
#table_treatment
  *
  .ant-table-row.ant-table-row-level-0.selected-row
  > .ant-table-cell.ant-table-cell-row-hover {
  background-color: #9ed3f2 !important;
}
